<div class="panel mb0">
    <div class="panel-heading border">
        <ol class="breadcrumb mb0 no-padding">
            <li>
                <a href="#/">Home</a>
            </li>
            <li>
              <a href="#">Token Man</a>
            </li>
        </ol>
    </div>
</div>
<div class="panel">
    <div class="panel-body">
      <table datatable=""
        dt-options="allTokenCtrl.dtOptions"
        dt-columns="allTokenCtrl.dtColumns"
        dt-instance="allTokenCtrl.dtInstance"
        class="table table-bordered table-striped" width="100%">
      </table>
    </div>
</div>
