<!-- <div id="newsolcontrol" data-ng-controller="newsolcontrol">
    <ul class="nav nav-tabs">
        <li ng-repeat="step in steps" ng-class="{active: $index==fact.getCurrentStepIndex(this)}">
            <a href>{{step}}</a>
        </li>
    </ul>
    <div ng-switch on="selection" class="panel"> -->
        <!-- First Step -->
      <!--   <div ng-switch-when="Information" class="animated fadeIn">
            <form  name="solcontrolForm" ng-submit="nextStep()" novalidate>
                <div class="panel-body">
                    <div class="col-md-6">
                        <div class="form-group" ng-class="{ 'has-error' : solcontrolForm.panel_size.$invalid && !solcontrolForm.panel_size.$pristine }">
                            <label class="col-sm-3 control-label">Panel Size</label>
                            <div class="col-sm-8">
                                <input type="number" name="panel_size" class="form-control" ng-model="solcontrol.panel_size" required>
                                <p ng-show="solcontrolForm.panel_size.$invalid && !solcontrolForm.panel_size.$pristine" class="help-block">The panel size is required.</p>
                            </div>
                        </div>

                        <div class="form-group" ng-class="{ 'has-error' : solcontrolForm.batt_size.$invalid && !solcontrolForm.batt_size.$pristine }">
                            <label class="col-sm-3 control-label">Battery Size</label>
                            <div class="col-sm-8">
                                <input type="number" name="batt_size" class="form-control" ng-model="solcontrol.batt_size" required>
                                <p ng-show="solcontrolForm.batt_size.$invalid && !solcontrolForm.batt_size.$pristine" class="help-block">The battery size is required.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="text-right">
                        <button type="submit" class="btn btn-info" ng-disabled="solcontrolForm.$invalid">Next</button>
                        <button type="button" class="btn btn-info" ng-click="solcontrolForm.$setPristine(true); solcontrol={};">Reset</button>
                    </div>
                </div>
            </form>
        </div> -->

        <!-- Second Step -->
   <!--      <div ng-switch-when="Validation" class="animated fadeIn">
            <form name="solcontrolPasswordForm" ng-submit="nextStep()" novalidate>
                <div class="panel-body">
                    <div class="alert_div col-sm-6">
                        <h4>Create a new SOLcontrol</h4>
                        <p>You are about to create a new SOLcontrol,<br> please enter your password before proceeding.</p>
                        <div class="form-group" ng-class="{ 'has-error' : solcontrolPasswordForm.password.$invalid && !solcontrolPasswordForm.password.$pristine }">
                            <div class=password_field>
                                <input type="password" class="form-control" ng-model="password" placeholder="Password" name="password" required>
                                <p ng-show="solcontrolPasswordForm.password.$error.required && !solcontrolPasswordForm.password.$pristine" class="help-block">Invalid password</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="text-right">
                        <button type="button" class="btn btn-info" data-ng-click="previousStep()">Previous</button>
                        <button type="submit" class="btn btn-info" ng-disabled="solcontrolPasswordForm.$invalid">Next</button>
                    </div>
                </div>
            </form>
        </div>
 -->
        <!-- Third Step -->
      <!--   <div ng-switch-when="Confirmation" class="animated fadeIn">
            <div class="panel-body">
                <div class="alert_div col-sm-6">
                    <h4>A new SOLcontrol has been created!</h4>
                    <p>SOLcontrol Id: {{createdSolcontrol.serial_number}}</p>
                </div>
            </div>
            <div class="panel-footer">
                <div class="text-right">
                    <button type="button" class="btn btn-info" ng-click="goBack()"">Back</button>
                </div>
            </div>
        </div>
    </div>
</div> -->
