<div id="dashboard" data-ng-controller="dashboard">
    <!-- COLUMN 1 -->
    <div class="col-md-6 col1">
        <div class="row1 mb10">
            <div class="col-md-12 pl0 general-info">
                <div class="col-xs-4 bg">
                    <div class="value">
                        <strong ng-hide="loading1">{{total_nb_solcontrols}}</strong>
                        <div class="loader-inner ball-pulse" ng-hide="!loading1"><div></div><div></div><div></div></div>
                    </div>
                    <div class="title"><p>Systems</p></div>
                    <div class="vertical-line"></div>
                </div>

                <div class="col-xs-4">
                    <div class="value">
                        <strong ng-hide="loading5">{{avg_outstanding_balance}}</strong>
                        <div class="loader-inner ball-pulse" ng-hide="!loading5"><div></div><div></div><div></div></div>
                    </div>
                    <div class="title" tooltip="Average Outstanding Balance" tooltip-placement="bottom" tooltip-append-to-body="true"><p>Average Oustanding Balance</p></div>
                    <div class="vertical-line"></div>
                </div>

                <div class="col-xs-4">
                    <div class="value">
                        <strong ng-hide="loading4">{{avg_outstanding_payback}}</strong>
                        <div class="loader-inner ball-pulse" ng-hide="!loading4"><div></div><div></div><div></div></div>
                    </div>
                    <div class="title"><p tooltip="Average Outstanding Payback Time" tooltip-placement="bottom" tooltip-append-to-body="true">Average Outstanding Payback Time</p></div>
                </div>
            </div>
        </div>
        <!-- <div class="row2 mb10"> -->

            <!-- <div class="col-sm-8 pl0 pr0 mb10 map" style="overflow: hidden;">
                <div class="panel mb0 bg-default">
                    <div id="map">
                        <img src="images/dashboard_map.png" style="max-width:94%; max-height:100%; display: block;margin-left: auto;margin-right: auto;">
                    </div>
                </div>
            </div> -->
            <!-- <div class="col-sm-4 percentage">
                <div class="panel bg-green mb5">
                    <div class="panel-heading border">
                        Solved Issues
                    </div>
                    <div class="panel-body text-center">
                        <div class="piechart" style="width: 80px; height: 80px;">
                          <div class="bounce_pie" easypiechart options="options" percent="percent_solved">
                            <div>
                              <div class="percent h4"></div>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 percentage">
                <div class="panel bg-yellow mb5">
                    <div class="panel-heading border">
                        System Warnings
                    </div>
                    <div class="panel-body text-center">
                        <div class="piechart" style="width: 80px; height: 80px;">
                          <div class="bounce_pie" easypiechart options="options" percent="percent_warning">
                            <div>
                              <div class="percent h4"></div>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 percentage">
                <div class="panel bg-red mb0">
                    <div class="panel-heading border">
                        Broken Systems
                    </div>
                    <div class="panel-body text-center">
                        <div class="piechart" style="width: 80px; height: 80px;">
                          <div class="bounce_pie" easypiechart options="options" percent="percent_broken">
                            <div>
                              <div class="percent h4"></div>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>
            </div> -->
        <!-- </div> -->
    </div>
    <!-- COLUMN 2 -->
    <div class="col-md-6 col2">

    <!-- ROW 1.0 -->
        <div class="mb15">
            <div class="text-center">
                <button type="button" class="btn btn-info" ng-click="downloadPdf()">Download PDF</button>
            </div>
        </div>

        <!-- ROW 1 -->
        <div class="row1 mb10">
            <div class="col-xs-6 figures pl0">
                <div class="panel-body">
                    <div class="left">
                        <div class="text">
                            <div class="loader-inner ball-pulse" ng-hide="!loading2"><div></div><div></div><div></div></div>
                            <span class="value" ng-hide="loading2">
                                <strong >{{total_nb_agents}}</strong>
                            </span><br>
                            <span>Agents</span>
                        </div>
                    </div>
                    <div class="right">
                        <div class="icon icon-agents"><img src="images/agent_icon.png"></img></div>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 figures pl0">
                <div class="panel-body">
                    <div class="left">
                        <div class="text">
                            <div class="loader-inner ball-pulse" ng-hide="!loading3"><div></div><div></div><div></div></div>
                            <span class="value" ng-hide="loading3">
                                <strong >{{avg_nb_solcontrols_per_agent}}</strong>
                            </span><br>
                            <span>Systems / Agent</span>
                        </div>
                    </div>
                    <div class="right">
                        <div class="icon icon-sys-agent">
                            <img src="images/solcontrol_icon.png"></img>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="col-xs-4 figures pl0 pr0">
                <div class="panel-body">
                    <div class="left">
                        <div class="text">
                            <span class="value">
                                <strong>18%</strong>
                            </span>
                            <br>
                            <span>Visited in past 30 days</span>
                        </div>
                    </div>
                    <div class="right">
                        <div class="icon icon-visited"><img src="images/visit_icon.png"></img></div>
                    </div>
                </div>
            </div> -->
        </div>

        <!-- ROW 2 -->
       <!--  <div class="row2 bg-white mb10">
            <img src="images/dashboard_remaining.png" style="max-width:95%; max-height:100%; display: block;margin-left: auto;margin-right: auto;">
        </div>
 -->
        <!-- ROW 3 -->
        <!-- <div class="row3">
            <div class="panel">
                <img src="images/dashboard_daily.png" style="max-width:102%; max-height:100%; display: block;margin-left: auto;margin-right: auto;">
            </div>
        </div> -->
    </div>
    <!-- <div class="col-lg-8 pl0">
        <div class="panel">
            <canvas id="bar" class="chart chart-bar" chart-data="soldSCdata" chart-labels="soldSClabels" chart-options="soldSCoptions"></canvas>
            <div class="text-center">
                <button type="button" class="btn btn-xs btn-primary mb10" ng-click="soldSystemsLastWeek()" ng-disabled="soldSCRangeSelection == 'week'">Last Week</button>
                <button type="button" class="btn btn-xs btn-primary mb10" ng-click="soldSystemsLastMonth()" ng-disabled="soldSCRangeSelection == 'month'">Last Month</button>
                <button type="button" class="btn btn-xs btn-primary mb10" ng-click="soldSystemsLast3Months()" ng-disabled="soldSCRangeSelection == '3months'">Last 3 Months</button>
            </div>
        </div>
    </div> -->
</div>
