<div class="panel" data-ng-controller="allcustomers as allCustomersCtrl">
    <div class="panel-heading border">
        <ol class="breadcrumb mb0 no-padding">
            <li>
                <a href="#/">Home</a>
            </li>
            <li>
                <a href>Customers</a>
            </li>
        </ol>
    </div>
    <div class="panel-body">
        <table datatable="" dt-options="allCustomersCtrl.dtOptions" dt-columns="allCustomersCtrl.dtColumns" dt-column-defs="allCustomersCtrl.dtColumnDefs" class="table table-bordered table-striped animated fadeIn" width="100%">

        </table>
    </div>
</div>